html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100%;
    font-family: Arial;
    overflow: hidden;
}

body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h1 {
    margin: 1rem auto;
    font-size: 3rem;
    color: white;
    text-align: center;
}

#board {
    width: 38rem;
    height: 30rem;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(15px);
    border-radius: .3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.board_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(250, 250, 250, 0.7);
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: .3rem;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#control_panel {
    width: 60rem;
    height: 5rem;
    margin: 0 auto;
    background-color: brown;
}

.hidden_value {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#personal_info {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    background-color: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(5px);
    border-radius: .3rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
